body
{
	font-size: 12px;
	line-height: 18px;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
html
{
	scrollbar-face-color: #C6E3F7;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #eeeeee;
	scrollbar-arrow-color: #FFFFFF;
}
A:link
{
	color: #0045b7;
	text-decoration: none;
}
A:visited
{
	color: #0045b7;
	text-decoration: none;
}
A:active
{
	color: #0045b7;
	text-decoration: none;
}
A:hover
{
	color: #0045b7;
	text-decoration: none;
}
.btn
{
	height: 24px;
	margin-top: 5px;
	border: 1px solid #738ECE;
	background-color: #C6E3F7;
	font-weight: bold;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr= '#ffffffff' ,EndColorStr= '#C6E3F7' );
}

#messagebox
{
	margin-top: 100px;
	width: 460px;
	font-size: 12px;
	line-height: 24px;
	margin-left: 150px;
	border: 1px solid #738ECE;
}
#messagebox #title
{
	font-weight: bolder;
	color: #ffffff;
	text-indent: 14px;
	background-image: url(../images/headerbg.gif);
}
#messagebox #message
{
	padding-top: 10px;
	height: 100px;
	font-size: 14px;
	background-color: #ffffff;
	text-align: center;
	vertical-align: middle;
}
#messagebox #message .btn
{
	margin-top: 10px;
}

#TableContent
{
	height: auto;
}
.NavTitle
{
	font-size: 20px;
	line-height: 24px;
	color: #222222;
	text-indent: 5px;
	font-weight: bolder;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 0px;
	border-bottom: #9CB2C6 3px solid;
}
.TB
{
	line-height: 24px;
	border: #9CB2C6 1px solid;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	width: 98%;
	border-spacing: 0px;
	padding: 2px;
	text-indent: 5px;
}
.TB .Title
{
	text-indent: 5px;
	font-weight: bolder;
	color: #000;
	background-color: #f3f3f3;
	border-bottom: #9CB2C6 1px solid;
}
.TB .Item
{
	line-height: 24px;
	height: 24px;
	margin-bottom: 5px;
}
.TBNoBorder
{
	line-height: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 98%;
	border-spacing: 0px;
	padding: 2px;
	text-indent: 5px;
}
.ReportTB
{
	line-height: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 98%;
	border-spacing: 0px;
	padding: 2px;
	text-indent: 5px;
	border-collapse: collapse;
}
.ReportTB .Title
{
	text-indent: 5px;
	font-weight: bolder;
	color: #000;
	background-color: #f3f3f3;
	border-bottom: #9CB2C6 1px solid;
}
.TBDiv
{
	line-height: 24px;
	border: #f4f4f4 1px solid;
	margin: 10px;
	width: 98%;
	border-spacing: 0px;
	padding: 2px;
	text-indent: 5px;
}
.TBDiv .Title
{
	text-indent: 5px;
	font-weight: bolder;
	color: #000;
	background-color: #f3f3f3;
	border-bottom: #9CB2C6 1px solid;
}
.TBDiv .Item
{
	line-height: 24px;
	height: 24px;
	margin-bottom: 5px;
}

TEXTAREA
{
	border: #9CB2C6 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	margin-left: 5px;
}
.Txt
{
	border: #9CB2C6 1px solid;
	font-size: 12px;
	font-weight: bold;
	line-height: 17px;
	height: 17px;
	color: #000000;
	margin-left: 3px;
}
.GridTxt
{
	color: #222222;
	height: 70px;
	word-break: break-all;
	line-height: 16px;
}

.NavPoint
{
	cursor: hand;
	font-family: Webdings;
	font-size: 12pt;
}

.TreeItemSelected
{
	line-height: 24px;
	border: 1px solid #738ECE;
	background-color: #C6E3F7;
	font-weight: bold;
	color: #222222;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 1px;
	padding-bottom: 1px;
	width: 100%;
	white-space: nowrap;
}

.TreeItemUnSelected
{
	background-color: #ffffff;
	font-weight: normal;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	line-height: 18px;
	white-space: nowrap;
}

#tabs1
{
	text-align: left;
	width: 400px;
}

.DivMenu
{
	position: relative;
	overflow: hidden;
	height: 26px;
	width: 400px;
	text-align: left;
	padding-top: 12px;
	margin-left: 10px;
	width: 97%;
	border-bottom: 3px solid #738ECE;
}

.DivMenu UL
{
	margin-left: -30px;
	margin-top: 0px;
}

.DivMenu li
{
	float: left;
	list-style-type: none;
	display: block;
	cursor: pointer;
	width: 100px;
	text-align: center;
	line-height: 26px;
	height: 26px;
	border: 1px solid #748CC9;
	margin-right: 5px;
}

.DivMenu .Selected
{
	background: #ADD1EF;
	font-weight: bold;
	margin-right: 5px;
	z-index: 1000;
}

.PageStyle
{
	text-align: right;
	padding-left: 12px;
	line-height: 14px;
}
.spa_class
{
	text-align: right;
}

.PageStyle SPAN
{
	position: relative;
	top: 3px;
}
.PageStyle SPAN B
{
	color: #c33;
}
.PageStyle A
{
	border-right: #738ECE 1px solid;
	padding-right: 2px;
	border-top: #738ECE 1px solid;
	display: block;
	padding-left: 2px;
	float: left;
	padding-bottom: 2px;
	margin: 0px 1px;
	border-left: #738ECE 1px solid;
	color: #999999;
	padding-top: 2px;
	border-bottom: #738ECE 1px solid;
	text-align: center;
	text-decoration: none;
}
.PageStyle A.CurrentPage
{
	background: #738ECE;
	color: #fff;
}


.skin1
{
	border-right: buttonhighlight 2px outset;
	border-top: buttonhighlight 2px outset;
	font-size: 9pt;
	visibility: hidden;
	border-left: buttonhighlight 2px outset;
	width: 100px;
	cursor: default;
	padding-top: 4px;
	border-bottom: buttonhighlight 2px outset;
	font-family: "ו";
	position: absolute;
	background-color: menu;
	text-align: left;
}
.menuitems
{
	padding-right: 1px;
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.r
{
	border: #9CB2C6 0px solid;
}
.r input
{
	border: #9CB2C6 0px solid;
}

